.button1 {
               position: absolute;
   left: 45%;
   top: 50%; 
      background-color: #04AA6D;
  border: none;
  color: white;
  padding: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
    border-radius: 100%;  
    cursor: pointer;
      }
      body {
  background-color: grey;
}

 .footer {
  position: fixed;
  left: 23%;
  bottom: 0;
  width: 100%;
  text-align: center;
}
    
   .p1 {
               position: absolute;
         top: 25%;
         left: 45%;
         color: #F65E5E;
         font-family: Arial, Helvetica, sans-serif;
         height: 25px;
         width: 100%;
         font-size: 30px;
      }
   .slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  top: 25%
  left: 90%
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #04AA6D;
  cursor: pointer;
  top: 25%
  left: 90%
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
  top: 25%
  left: 90%
}
 
  .multup {
       position: absolute;
          left: 45%;
          top: 25%;
     width: 250px;
       background-color: #04AA6D;
  border: none;
  color: white;
  padding: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
    border-radius: 5px; 
    cursor: pointer;
      
      
      }
      
      .buyClicker {
        width: 250px;
       position: absolute;
          left: 50%;
          top: 50%;
       background-color: #04AA6D;
  border: none;
  color: white;
  padding: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
    border-radius: 5px;  
        cursor: pointer;
      
      
      }
      
 .tablink {
    background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 1px;
  font-size: 15px;
  width: 10%;
  bottom: 0px;
  left: 45%;
 
}



.button3 {
position: absolute;
   left: 45%;
   top: 50%; 
  width: 250px;
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 30px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
    border-radius: 8px;  
    cursor: pointer;
}
       
       
      
