.body {
 overflow: hidden;
}

#content {
    margin: 0 auto;
    padding-bottom: 50px;
    width: 100%;
    max-width: 978px;
    display: hidden;
}
#top-text {
top: 0%;
left: 0%;
display: hidden;
}
.button1 {
               position: absolute;
   left: 50%;
   top: 50%; 
      background-color: #04AA6D;
  border: none;
  color: white;
  padding: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
    border-radius: 100%;  
    cursor: pointer;
      }
      body {
  background-color: grey;
}

 .footer {
  position: fixed;
  left: 25%;
  bottom: 0;
  width: 100%;
  text-align: center;
}
 .footer2 {
  position: fixed;
  left: 38.5%;
  bottom: 50%;
  width: 100%;
  text-align: center;
}




    
   .p1 {
               position: absolute;
         top: 25%;
         left: 45%;
         color: #F65E5E;
         font-family: Arial, Helvetica, sans-serif;
         height: 25px;
         width: 100%;
         font-size: 30px;
      }


 
  .multup {
       position: absolute;
          left: 50%;
          top: 25%;
     width: 250px;
       background-color: #04AA6D;
  border: none;
  color: white;
  padding: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
    border-radius: 5px; 
    cursor: pointer;
      
      
      }
      
      .buyClicker {
        width: 250px;
       position: absolute;
          left: 50%;
          top: 50%;
       background-color: #04AA6D;
  border: none;
  color: white;
  padding: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
    border-radius: 5px;  
        cursor: pointer;
      
      
      }
      
 .tablink {
    background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 1px;
  font-size: 15px;
  width: 10%;
  bottom: 0px;
  left: 45%;
 
}
.itablink {
    background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 1px;
  font-size: 15px;
  width: 10%;
  bottom: 0px;
  left: 45%;
 
}



.button3 {
position: absolute;
   left: 50%;
   top: 50%; 
  width: 250px;
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 30px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
    border-radius: 8px;  
    cursor: pointer;
}


#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#content {
    margin: 0 auto;
    padding-bottom: 50px;
    width: 80%;
    max-width: 978px;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    z-index: 1001; /* anything higher than z-index: 1000 of .loader-section */
}
 
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}



#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
}
 
#loader-wrapper .loader-section.section-left {
    left: 0;
}
 
#loader-wrapper .loader-section.section-right {
    right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);  /* IE 9 */
    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
}
 
.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);  /* IE 9 */
    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader {
    opacity: 0;
}
       .loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
                transform: translateY(-100%);
 
        -webkit-transition: all 0.3s 0.6s ease-out;
                transition: all 0.3s 0.6s ease-out;
}


.loaded #content {
    display: block;
     padding-bottom: 50px;
    width: 80%;
    max-width: 978px;
    display: block;
}
  

.loaded #top-text {
top: 0%;
left: 0%;
display: block;
}






.resetSave {
       position: absolute;
          left: 50%;
          top: 35%;
     width: 250px;
       background-color: #04AA6D;
  border: none;
  color: white;
  padding: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
    border-radius: 5px; 
    cursor: pointer;


}


.quicksave {
       position: absolute;
          left: 50%;
          top: 50%;
     width: 250px;
       background-color: #04AA6D;
  border: none;
  color: white;
  padding: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
    border-radius: 5px; 
    cursor: pointer;


}
